.prompt {
  text-align: center;
}
.hand {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
  gap: 2em;
}
.card {
  background-color: #eec48d;
  width: 15em;
  padding: 1em;
}
.card:hover {
  background-color: #1861ac;
  cursor: pointer;
}
