@use "../../widths.scss" as widths;
.game {
  .layout-top {
    display: flex;
  }

  .nameplate {
    text-align: center;
    .player-attributes {
      display: flex;
      justify-content: space-between;
    }
  }

  .prompt {
    width: 100%;
    .prompt-card {
      text-align: center;
      img {
        height: 50vh;
        max-width: 100%;
      }
    }
  }
}
