.prompt {
  display: flex;
}

.prompt .prompt-card {
  margin-left: auto;
  margin-right: auto;
  width:25em;
  height:25em;
}
.prompt-card img {
  width: 100%;
}


.hand {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
  gap: .5em;
}
.card {
  background-color: #eec48d;
  width: 15em;
  padding: 1em;
}
.card:hover {
  background-color: #eeb871;
  cursor: pointer;
}
.card.selected {
  background-color: #eca344;
}
