.sect-start {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}
.btn-like, .btn-dislike {
  font-size: 2em;
  border-radius: .25em;
  background-color: rgb(187, 8, 8);
  padding: .1em .5em;
  border: 0;
  box-shadow: none;
}
.btn-like {
  background-color: rgb(187, 8, 8);
}
.btn-dislike {
  background-color: rgb(69, 69, 69);
}

.lobby .players {
  display: flex;
  gap: .5em;
}
