@use "../../color-palette.scss" as colors;
@use "../../widths.scss" as widths;

.btn-copy {
  padding: 2px !important;

  &:hover, &:focus {
    padding: 0 !important;
  }
}
.sect-start {
  margin-top: 1em;
}

.lobby {
  .players {
    display: flex;
    justify-content: center;
    gap: 0.5em;
  }
}

.game-settings {
  display: flex;
  justify-content: space-between;
  gap: .5em;
  margin-bottom: 1em;
  label {
    display: block;
    width: 48%;

    input {
      display: block;
      width: 100%;
    }
  }

  @media #{widths.$medium} {
    justify-content: center;
    label {
      width: 20%;
    }
  }
}

.game-rating {
  display: flex;
  .rating-opt {
    cursor: pointer;
    display: block;
    border-left: 1px solid colors.$strong;
    border-top: 1px solid colors.$strong;
    border-bottom: 1px solid colors.$strong;
    text-align: center;
    width: 100%;

    &:first-child {
      border-top-left-radius: .25em;
      border-bottom-left-radius: .25em;
    }
    &:last-child {
      border-right: 1px solid colors.$strong;
      border-top-right-radius: .25em;
      border-bottom-right-radius: .25em;
    }

    &.selected {
      color: colors.$light;
      background-color: colors.$strong;
    }
  }
}
